# ================================= #
# CoSMIC (Backend Repo) Ignore List #
# ================================= #


# Dockers
docker/secrets/
docker/configs/


# Environments
*.env*
*.envrc*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*__pycache__*


# Whitelists
!scripts/**/*.env*
!examples/**/*.env*
!examples/database/
