pandas
python-dotenv
openai
bitsandbytes 
transformers
accelerate
loralib
einops
xformers
tqdm
llama-index
llama-index-llms-huggingface 
llama-index-embeddings-huggingface
llama-index-readers-web
llama-index-llms-openai
langchain_openai
langchain_core
langchain_community
langchain
streamlit
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
peft
trl