# [Line 16](https://github.com/docker-library/postgres/blob/cf9b6cdd64f8a81b1abf9e487886f47e4971abe2/11/Dockerfile)
POSTGRES_GID=999
# [Line 18](https://github.com/docker-library/postgres/blob/cf9b6cdd64f8a81b1abf9e487886f47e4971abe2/11/Dockerfile)
POSTGRES_UID=999
POSTGRES_CHMOD=0400
