# Docker setup
DB_DIALECT=postgresql
DB_DRIVER=psycopg
DB_USER=demo
DB_PASSWORD=demo123
DB_HOST=database
DB_PORT=5432
DB_NAME=demo


# Native setup
# DB_DIALECT=postgresql
# DB_DRIVER=psycopg
# DB_USER=postgres
# DB_PASSWORD=postgres123
# DB_HOST=localhost # Or IP address
# DB_PORT=5432
# DB_NAME=postgres


# Go to OpenAI API platform and create an API key from there. After successfully
# created, find this variable and replace the placeholder.
OPENAI_API_KEY=a1/,b2]-c3b['\'+4d5
